<% include partials/header.ejs %>
    <h1> Editing Job Posting </h1>
    <div class="container">
        <form class="add-player-form" action="" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="numberOfPositions" id="numberOfPositions" placeholder="Number of Positions" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
                </div>                
            <button type="submit" class="btn btn-primary float-right">Add Application</button>
        </form>
    </div>
</div>
</body>
</html>