<% include partials/header.ejs %>
    <div class="table-wrapper">
    	 	<p class="text-center">You are not logged in!</p>
            <p class="text-center">Click <a href="/applicant/" >here</a> to log in as an Applicant.</p>
            <p class="text-center">Click <a href="/employer/" >here</a> to log in as an Employer.</p>
    </div>
</div>
</body>
</html>